<style>
  #title {
    font-size: 33px;
  }

  
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand text-white">Olá, {{ user.username }}</span>
    <a class="navbar-brand text-white" id="title" href="/"><strong>Sistema de Gestão de Estoque (SGE)</strong></a>

    <form action="{% url 'logout' %}" method="post" class="d-flex align-items-center">
      {% csrf_token %}
      <button class="btn btn-link nav-link px-0 align-middle">
        <i class="bi bi-box-arrow-left fs-4 exit "></i>
        <span class="ms-1 ">Sair do Sistema</span>
      </button>
    </form>
  </div>
</nav>
